<img class="rounded float-start my-4 img-thumbnail" src="{{dog.url}}" alt="dog-photo">
<h1 class="text-end">{{dog.dog_name}}</h1>
<h3>Date Added: {{dog.dateAdded}}</h3>
<h3>Breed: {{dog.breed}}</h3>
<h3>Added By: {{dog.addedBy}}</h3>